<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark py-3" style="background: #314879;">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                <img src="images/logo.png" alt="logo" width="60">
            </a>
        </div>
    </nav>
</header>