<!DOCTYPE html>
<html>
    <head>
       {{>headings}}
        
    </head>
    <body>
        <!-- Navbar-->
   {{>nav}}

 

<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <h1>Welcome to Home Page</h1>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
           <a href="/login"><button class="btn-primary" style="outline: none; border: none" >Login</button></a>
           <a href="/register"><button class="btn-primary" style="outline: none; border: none">Register</button></a>
        </div>
    </div>
</div>

    </body>
</html>